<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	  <appSettings>
		<add key="Carjson" value="C:\Users\jesus\source\repos\MKcrud\MKcrud\Jfile.json"/>
		<add key="Customerjson" value="C:\Users\jesus\source\repos\MKcrud\MKcrud\Customer.json"/>
		<add key="RentCar" value="C:\Users\jesus\source\repos\MKcrud\MKcrud\RentCar.json"/>
	</appSettings>
</configuration>      